/**
 * @file
 * Toolbar style for Administration menu.
 *
 * Important: We cannot re-use toolbar.png from Toolbar module, since we cannot
 * reliably determine the path to it.
 *
 * @todo Separate shortcut functionality into own module/widget.
 */
/* Adjust margin/height */
/* line 13, ../sass/admin_menu_toolbar.scss */
html body.admin-menu {
  margin-top: 29px !important;
}

/* line 16, ../sass/admin_menu_toolbar.scss */
html body.admin-menu-with-shortcuts {
  margin-top: 65px !important;
}

/* Displace the core Toolbar, if concurrently output. */
/* line 20, ../sass/admin_menu_toolbar.scss */
body div#toolbar.toolbar {
  top: 30px;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
/**
 * Custom theming by me
 */
/* line 34, ../sass/admin_menu_toolbar.scss */
#admin-menu {
  font: normal small "Lucida Grande", Verdana, sans-serif;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  width: auto;
}

/* line 46, ../sass/admin_menu_toolbar.scss */
#admin-menu li.admin-menu-account > a {
  background: #b40a0a;
  background: rgba(180, 10, 10, 0.7);
}

/* line 50, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown ul li:last-child {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

/* line 56, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown li li.expandable {
  background: #45454A;
}

/* line 60, ../sass/admin_menu_toolbar.scss */
#admin-menu ul.dropdown li.expandable ul.dropdown li.expandable ul.dropdown li:first-child {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
/* line 65, ../sass/admin_menu_toolbar.scss */
#admin-menu ul.dropdown li.expandable ul.dropdown li.expandable ul.dropdown li:first-child a {
  border-top: none;
}

/* line 72, ../sass/admin_menu_toolbar.scss */
#admin-menu ul.dropdown li.expandable ul.dropdown li.expandable ul.dropdown li:only-child {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 78, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown li li.expandable > a:after {
  content: '\f105';
  font-family: fontawesome;
  color: #fff;
  float: right;
}

/* End of custom theming by me */
/* line 86, ../sass/admin_menu_toolbar.scss */
#admin-menu-wrapper {
  font-size: .846em;
  padding: 5px 10px 0;
}

/* line 91, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown a {
  color: #fafafa;
}

/* Remove border from all lists and actions */
/* line 96, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-action a {
  border-left: 0;
}

/* line 99, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-icon > a {
  padding: 2px 10px 3px;
}

/**
 * Administration menu.
 */
/* line 106, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-icon > a span {
  vertical-align: text-bottom;
  width: 11px;
  height: 14px;
  display: block;
  content: '\f015';
  text-indent: -9999px;
}

/* line 115, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-icon > a:before {
  content: '\f015';
  font-family: fontawesome;
  font-size: 1.5em;
  color: #fff;
  float: right;
}

/* line 123, ../sass/admin_menu_toolbar.scss */
#admin-menu > div > .dropdown > li > a {
  border-right: 0;
  margin-bottom: 4px;
  padding: 2px 10px 3px;
}

/* line 129, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-toolbar-category > a,
#admin-menu .dropdown .admin-menu-action > a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 134, ../sass/admin_menu_toolbar.scss */
#admin-menu-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
  text-decoration: underline;
  font-weight: bold;
}

/* line 142, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-toolbar-category > a:hover {
  background-color: #444;
}

/* line 145, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown .admin-menu-tab a {
  border-right: 0;
}

/* line 148, ../sass/admin_menu_toolbar.scss */
#admin-menu .dropdown li li.expandable ul {
  margin: -22px 0 0 160px;
}

/**
 * Shortcuts toggle.
 */
/* line 155, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle {
  cursor: pointer;
  display: block;
  float: right;
  margin: 0 0 0 1.3em;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
}

/* line 167, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle:focus,
#admin-menu .shortcut-toggle:hover {
  background-position: -50px -20px;
}

/* line 170, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle.active {
  background-position: -25px -20px;
}

/* line 174, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toggle.active:focus,
#admin-menu .shortcut-toggle.active:hover {
  background-position: -75px -20px;
}

/**
 * Shortcuts widget.
 */
/* line 181, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar {
  background-color: #666;
  clear: both;
  display: none;
  margin: 0 -10px;
  overflow: hidden;
  /* Align with icon; @see shortcut.css */
  padding-left: 5px;
}

/* line 190, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar.active {
  display: block;
}

/* Override theme list style; @see shortcut.css */
/* line 194, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar ul {
  margin: 0;
}

/* @see toolbar.css */
/* line 198, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar li {
  float: left;
  list-style-image: none;
  list-style-type: none;
}

/* line 203, ../sass/admin_menu_toolbar.scss */
#admin-menu .shortcut-toolbar a {
  display: block;
}
