/**
 * @file
 * Comment Styling
 */
/* line 8, ../sass/comments.scss */
#comments {
  /* Wrapper for the list of comments and its title */
  margin: 3em 0 1.5em 0;
  border-top: 1px solid #dddddd;
}
/* line 12, ../sass/comments.scss */
#comments h2.title {
  /* Heading for the list of comments */
}
/* line 15, ../sass/comments.scss */
#comments h2.comment-form {
  /* Heading for the comment form */
  border-top: 1px solid #dddddd;
  padding-bottom: 0;
}

/* line 21, ../sass/comments.scss */
#comments article.comment {
  /* Wrapper for a single comment */
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
/* line 27, ../sass/comments.scss */
#comments article.comment.comment-preview {
  /* Preview of the comment before submitting new or updated comment */
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}
/* line 31, ../sass/comments.scss */
#comments article.comment.new {
  /* A new comment since the user last viewed the page. */
}
/* line 34, ../sass/comments.scss */
#comments article.comment.first {
  /* The first comment in the list of comments */
}
/* line 37, ../sass/comments.scss */
#comments article.comment.last {
  /* The last comment in the list of comments */
  border-bottom: none;
}
/* line 41, ../sass/comments.scss */
#comments article.comment.odd {
  /* An odd-numbered comment in the list of comments */
}
/* line 44, ../sass/comments.scss */
#comments article.comment.even {
  /* An even-numbered comment in the list of comments */
}
/* line 47, ../sass/comments.scss */
#comments article.comment.comment-by-anonymous {
  /* A comment created by an anonymous user */
}
/* line 50, ../sass/comments.scss */
#comments article.comment.comment-by-node-author {
  /* A comment created by the node's author */
}
/* line 53, ../sass/comments.scss */
#comments article.comment.comment-by-viewer {
  /* A comment created by the current user */
}
/* line 56, ../sass/comments.scss */
#comments article.comment h3.comment-title {
  /* Comment title */
}
/* line 59, ../sass/comments.scss */
#comments article.comment .new {
  /* "New" marker for comments that are new for the current user */
  display: none;
}
/* line 64, ../sass/comments.scss */
#comments article.comment .user-picture {
  /* The picture of the comment author */
}
/* line 67, ../sass/comments.scss */
#comments article.comment .submitted {
  /* The "posted by" information */
}
/* line 70, ../sass/comments.scss */
#comments article.comment .permalink {
  /* Comment's permalink wrapper */
  text-transform: uppercase;
  font-size: 75%;
}
/* line 75, ../sass/comments.scss */
#comments article.comment .user-signature {
  /* The user's signature */
}
/* line 78, ../sass/comments.scss */
#comments article.comment ul.links {
  /* Comment links. See also the ul.links declaration in the pages.css. */
}

/* line 82, ../sass/comments.scss */
.indented {
  /* Nested comments are indented */
  margin-left: 30px;
  /* Drupal core uses a 25px left margin */
}

/* line 86, ../sass/comments.scss */
.comment-unpublished {
  /* Unpublished comments */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 89, ../sass/comments.scss */
.comment-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
