/**
 * @file
 * Form Styling
 */
/* line 9, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1em 0;
}
/* line 14, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 18, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 23, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 28, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #aaaaaa;
}
/* line 33, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 38, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 43, ../sass/forms.scss */
.form-submit {
  /* The submit button */
}

/* line 48, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 53, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 56, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 65, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 73, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
  float: right;
  position: relative;
}
/* line 74, ../sass/forms.scss */
#block-search-form input {
  border: 1px solid #ccc;
  display: inline;
}
/* line 78, ../sass/forms.scss */
#block-search-form input.form-submit {
  display: none;
}
/* line 81, ../sass/forms.scss */
#block-search-form input:focus {
  outline: 0;
}
/* line 88, ../sass/forms.scss */
#block-search-form input.form-text {
  padding-left: 0.6em;
  color: #555555;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 94, ../sass/forms.scss */
#block-search-form button {
  border: none;
  background: none;
  position: absolute;
  top: 0.15em;
  right: 0.6em;
  font-size: 1em;
  color: #555555;
  padding: 0;
}

/*
 * Drupal's default login form block
 */
/* line 110, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 120, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 125, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* Un-do some of the padding on the ul list. */
}
/* line 130, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 135, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 147, ../sass/forms.scss */
form th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}
/* line 153, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 157, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 161, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 180, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}
