/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/pages.scss */
#page {
  padding-top: 0.5em;
}

/* line 28, ../sass/pages.scss */
#page.signin-wall #main {
  padding: 1em 1em;
  max-width: 500px;
  margin: auto;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 41, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 45, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #ffffff;
}

/* line 56, ../sass/pages.scss */
#pre-header {
  padding: 0.5em 0;
}
/* line 60, ../sass/pages.scss */
#pre-header .block-menu-block {
  float: right;
}

/* line 64, ../sass/pages.scss */
#header-wrapper {
  background-image: url("../header-background.jpg");
  background-repeat: repeat-x;
  background-position: center top;
}

/* line 76, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 80, ../sass/pages.scss */
#logo img {
  width: 10em;
}

/* line 86, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  text-align: center;
  padding: 1em 0 0.5em 0;
}

/* line 91, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  display: inline;
  position: relative;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 101, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}
/* line 106, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* line 111, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0em 0 2em 0;
  font-size: 1.5em;
  text-align: center;
}

/* line 117, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * Navigation
 */
/* line 124, ../sass/pages.scss */
#navigation {
  margin-top: 1em;
}
/* line 128, ../sass/pages.scss */
#navigation #block-search-form {
  float: right;
}

/* line 134, ../sass/pages.scss */
article.node-teaser {
  margin-bottom: 1.5em;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 158, ../sass/pages.scss */
#content article div.field-image, #content article div.field-additional-images {
  margin-bottom: 1.5em;
}
/* line 162, ../sass/pages.scss */
#content article div.inline {
  display: inline;
}
/* line 168, ../sass/pages.scss */
#content article.node-article {
  border-top: 1px solid #dddddd;
}
/* line 173, ../sass/pages.scss */
#content div.addthis_toolbox {
  display: inline;
}
/* line 175, ../sass/pages.scss */
#content div.addthis_toolbox a {
  text-decoration: none;
  font-family: FontAwesome;
  font-size: 2em;
  float: none;
}
/* line 181, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_facebook:before {
  content: "\f082";
}
/* line 182, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_twitter:before {
  content: "\f081";
}
/* line 183, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_pinterest_share:before {
  content: "\f0d3";
}
/* line 184, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_google_plusone_share:before {
  content: "\f0d4";
}
/* line 185, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_email:before {
  content: "\f003";
}
/* line 186, ../sass/pages.scss */
#content div.addthis_toolbox a.addthis_button_print:before {
  content: "\f02f";
}
/* line 187, ../sass/pages.scss */
#content div.addthis_toolbox span {
  display: none;
}

/* line 194, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 195, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 199, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 212, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 216, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 220, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 224, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 227, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 233, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 237, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 242, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 245, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 249, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 253, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 256, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 259, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 262, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 265, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 269, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 275, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
}

/* line 279, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 1em 0 2em 0;
}
/* line 281, ../sass/pages.scss */
.item-list .pager .pager-next {
  float: left;
}
/* line 282, ../sass/pages.scss */
.item-list .pager .pager-previous {
  float: right;
}
/* line 283, ../sass/pages.scss */
.item-list .pager a:link {
  text-decoration: underline;
}
/* line 285, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 290, ../sass/pages.scss */
h2.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
  display: inline;
}

/* line 294, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 321, ../sass/pages.scss */
div.group-share,
div.group-category,
div.group-tags {
  margin: 1em 0 1em 0;
}

/*
 * Footer
 */
/* line 330, ../sass/pages.scss */
#footer-wrapper {
  background-color: #eeeeee;
}

/* line 334, ../sass/pages.scss */
#footer {
  font-size: 0.8em;
}
/* line 337, ../sass/pages.scss */
#footer #block-boxes-box-copyright p {
  margin: 0;
}
/* line 338, ../sass/pages.scss */
#footer #block-boxes-box-copyright ul.links {
  margin: 0;
}
/* line 340, ../sass/pages.scss */
#footer #block-boxes-box-copyright, #footer .privacy-tos {
  margin: 1.5em 0;
  display: block;
}

/*
 * Page bottom
 */
/* line 347, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
