/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views_slideshow_cycle_main {
  width: 100%;
}
/* line 49, ../sass/views-styles.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
/* line 50, ../sass/views-styles.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
/* line 51, ../sass/views-styles.scss */
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
/* line 52, ../sass/views-styles.scss */
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 55, ../sass/views-styles.scss */
.flexslider {
  margin: 0 0 60px;
  background: none;
  border: none;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}
@media all and (min-width: 960px) {
  /* line 74, ../sass/views-styles.scss */
  .flexslider div.field-image {
    height: 400px;
    overflow: hidden;
  }
}
@media all and (min-width: 960px) and (min-width: 960px) {
  /* line 78, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -25px;
  }
}
@media all and (min-width: 960px) and (min-width: 1000px) {
  /* line 79, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -50px;
  }
}
@media all and (min-width: 960px) and (min-width: 1050px) {
  /* line 80, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -75px;
  }
}
@media all and (min-width: 960px) and (min-width: 1100px) {
  /* line 81, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -100px;
  }
}
@media all and (min-width: 960px) and (min-width: 1150px) {
  /* line 82, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -125px;
  }
}
@media all and (min-width: 960px) and (min-width: 1200px) {
  /* line 83, ../sass/views-styles.scss */
  .flexslider div.field-image img {
    margin-top: -150px;
  }
}
/* line 88, ../sass/views-styles.scss */
.flexslider div.views-field-title {
  position: absolute;
  top: 15%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
}
/* line 96, ../sass/views-styles.scss */
.flexslider div.views-field-title a {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
}
