/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}


#page {
  padding-top: 0.5em;
}

#page.signin-wall {
  #main {
    padding: 1em 1em;
    max-width: 500px;
    margin: auto;
  }
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #ffffff;
  }
}


#pre-header {
  padding: 0.5em 0; 
  //font-size: 0.85em;

  .block-menu-block { float: right; }

}

#header-wrapper {
  //background: transparent url('../header-background.jpg') 0em 2.5em repeat-x;
  //background-color: transparent;
  background-image: url('../header-background.jpg');
  background-repeat: repeat-x;
  background-position: center top;

}

#header {
}

#logo { /* Wrapping link for logo */
  margin: 0;
  padding: 0;

  img {
    width: 10em;
    //height: auto;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  text-align: center;
  padding: 1em 0 0.5em 0; // Aligns logo with wrapper background image 
}

#site-name { /* The name of the website */
  display: inline;
  position: relative;
//  top: -0.35em;
//  margin: 0.2em 0 0.2em 0;
  // font-size: 2.75em;
  line-height: 1em;
  text-transform: uppercase;

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0em 0 2em 0;
  font-size: 1.5em;
  text-align: center;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  //clear: both; /* Clear the logo */
}

/*
 * Navigation
 */
#navigation {

  margin-top: 1em;

  #block-search-form {
    float: right;
  }
}

// Teasers
article.node-teaser {
  margin-bottom: 1.5em;
}


/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
  article {

    h2.node-title {
      //margin-bottom: 0.5em;
      //font-weight: bold;
    }

    div.field-image, div.field-additional-images {
      margin-bottom: 1.5em;
    }

    div.inline {
      display: inline;
    }

  }

  article.node-article {
    border-top: 1px solid $border-color;
  }


  div.addthis_toolbox {
    display: inline;
    a {
      text-decoration: none;
      font-family: FontAwesome;
      font-size: 2em;
      float: none;
    }
    a.addthis_button_facebook:before { content: "\f082"; }
    a.addthis_button_twitter:before { content: "\f081"; }
    a.addthis_button_pinterest_share:before { content: "\f0d3"; }
    a.addthis_button_google_plusone_share:before { content: "\f0d4"; }
    a.addthis_button_email:before { content: "\f003"; }
    a.addthis_button_print:before { content: "\f02f"; }
    span { display: none; }
  }
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}
span.field-label { /* The inline field label used by the Fences module */
  // padding: 0 0 0 0;
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 1em 0 2em 0;
  .pager-next { float: left; }
  .pager-previous { float: right; }
  a:link { text-decoration: underline; }

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

h2.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
  display: inline;
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}


div.group-share, 
div.group-category,
div.group-tags
{
  margin: 1em 0 1em 0; 
}


/*
 * Footer
 */

#footer-wrapper {
  background-color: #eeeeee;
}

#footer {
  font-size: 0.8em;
  #block-boxes-box-copyright { // Overrides normalized.css margins
    p { margin: 0; } // For copyright content
    ul.links { margin: 0; } // For box controls for administrative users
  }
  #block-boxes-box-copyright, .privacy-tos { margin: 1.5em 0; display: block; }
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
