/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.views_slideshow_cycle_main {                                                      
  width: 100%;                                                                     
  .views-slideshow-cycle-main-frame {width: 100% !important; height: auto;}         
  .views-slideshow-cycle-main-frame-row {width: 100% !important; height: auto;}     
  .field-content { max-width: 100%; width: 100%;}                                   
  .field-content img { max-width: 100%; width: 100%; height: auto; margin: 0; padding:0;} 
}   

.flexslider {
  margin: 0 0 60px;
  background: none;
  border: none;
  position: relative; 

  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  -o-border-radius: 0; 
  border-radius: 0; 

  box-shadow: 0 1px 4px rgba(0,0,0,.2); 
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
  -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 

  zoom: 1;
  
  @media all and (min-width: 960px) {
    div.field-image {
      height: 400px;
      overflow: hidden;

      @media all and (min-width: 960px) { img { margin-top: -25px; } }
      @media all and (min-width: 1000px) { img { margin-top: -50px; } }
      @media all and (min-width: 1050px) { img { margin-top: -75px; } }
      @media all and (min-width: 1100px) { img { margin-top: -100px; } }
      @media all and (min-width: 1150px) { img { margin-top: -125px; } }
      @media all and (min-width: 1200px) { img { margin-top: -150px; } }
    }

  }

  div.views-field-title {
    position: absolute;
    top: 15%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
    padding: 20px 30px;

    a {
      color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
    }
  }

}


