/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 47, ../../sass/layouts/responsive-sidebars.scss */
#pre-header,
#header,
#page,
#footer,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1368px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 80, ../../sass/layouts/responsive-sidebars.scss */
#pre-header,
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#pre-header:before, #pre-header:after,
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after,
article.node-recipe:before,
article.node-recipe:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#pre-header:after,
#header:after,
#main:after,
#footer:after,
article.node-recipe:after {
  clear: both;
}

/*
 * Containers for grid items and flow items.
 */
/* line 103, ../../sass/layouts/responsive-sidebars.scss */
div.group-share,
div.group-category,
div.group-tags {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  /* line 112, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    position: relative;
  }

  /* line 116, ../../sass/layouts/responsive-sidebars.scss */
  #navigation ul.links, #navigation ul.menu {
    font-size: 1.5em;
  }

  /* line 119, ../../sass/layouts/responsive-sidebars.scss */
  div.field-name-field-image {
    float: left;
    padding-right: 2em;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  /* line 147, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: left;
    width: 200%;
    margin-left: 100%;
    margin-right: -300%;
  }
  /* line 150, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 300%;
    margin-left: 0%;
    margin-right: -300%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 157, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 160, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  /* line 164, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 100%;
    margin-left: 100%;
    margin-right: -200%;
  }
  /* line 167, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 100%;
    margin-left: 200%;
    margin-right: -300%;
  }
}
@media all and (min-width: 560px) {
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  #footer #block-boxes-box-copyright {
    float: left;
  }
  /* line 178, ../../sass/layouts/responsive-sidebars.scss */
  #footer .privacy-tos {
    float: right;
  }
}
@media all and (min-width: 768px) {
  /* line 185, ../../sass/layouts/responsive-sidebars.scss */
  #logo img {
    width: 15em;
  }

  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  #name-and-slogan {
    text-align: left;
  }

  /* line 191, ../../sass/layouts/responsive-sidebars.scss */
  div.left {
    float: left;
    padding-right: 1em;
    box-sizing: border-box;
  }

  /* line 192, ../../sass/layouts/responsive-sidebars.scss */
  div.right {
    float: right;
    padding-left: 1em;
    box-sizing: border-box;
  }

  /* line 193, ../../sass/layouts/responsive-sidebars.scss */
  div.center {
    margin: auto;
    text-align: center;
  }

  /* line 194, ../../sass/layouts/responsive-sidebars.scss */
  div.width-25 {
    width: 25%;
  }

  /* line 195, ../../sass/layouts/responsive-sidebars.scss */
  div.width-33 {
    width: 33%;
  }

  /* line 196, ../../sass/layouts/responsive-sidebars.scss */
  div.width-40 {
    width: 40%;
  }

  /* line 197, ../../sass/layouts/responsive-sidebars.scss */
  div.width-50 {
    width: 50%;
  }

  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  div.width-60 {
    width: 60%;
  }

  /* line 199, ../../sass/layouts/responsive-sidebars.scss */
  div.width-66 {
    width: 66%;
  }

  /* line 200, ../../sass/layouts/responsive-sidebars.scss */
  div.width-75 {
    width: 75%;
  }

  /* line 201, ../../sass/layouts/responsive-sidebars.scss */
  div.width-100 {
    width: 100%;
  }

  /* line 204, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #header {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
  /* line 206, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #navigation {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 212, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #navigation #main-menu {
    float: left;
    width: 50%;
    margin-left: 91.66667%;
    margin-right: -141.66667%;
  }
  /* line 215, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #navigation .region-navigation {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
  }
  /* line 220, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  /* line 222, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content article.node-article {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 232, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content section.comment-wrapper {
    clear: both;
  }
  /* line 237, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }

  /* line 247, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #navigation,
  .sidebar-second #content {
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  /* line 251, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    clear: both;
  }
  /* line 255, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

  /* line 261, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: left;
    width: 25%;
    margin-left: 8.33333%;
    margin-right: -33.33333%;
  }
  /* line 264, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
  }
  /* line 267, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 8.33333%;
    margin-left: 33.33333%;
    margin-right: -41.66667%;
  }
}
@media all and (min-width: 1024px) {
  /* line 275, ../../sass/layouts/responsive-sidebars.scss */
  .block-menu-block ul li span.menu-text {
    display: inline;
  }

  /* line 276, ../../sass/layouts/responsive-sidebars.scss */
  .header-admin-menu {
    float: left;
  }

  /* line 277, ../../sass/layouts/responsive-sidebars.scss */
  p.social-icons {
    font-size: 2em;
  }
}
@media all and (min-width: 1024px) {
  /* line 280, ../../sass/layouts/responsive-sidebars.scss */
  html {
    font-size: 100%;
  }

  /* line 280, ../../sass/layouts/responsive-sidebars.scss */
  #page, #header, #pre-header, #footer {
    margin: 0 4%;
  }
}
@media all and (min-width: 1200px) {
  /* line 281, ../../sass/layouts/responsive-sidebars.scss */
  html {
    font-size: 105%;
  }

  /* line 281, ../../sass/layouts/responsive-sidebars.scss */
  #page, #header, #pre-header, #footer {
    margin: 0 8%;
  }
}
@media all and (min-width: 1400px) {
  /* line 282, ../../sass/layouts/responsive-sidebars.scss */
  html {
    font-size: 110%;
  }

  /* line 282, ../../sass/layouts/responsive-sidebars.scss */
  #page, #header, #pre-header, #footer {
    margin: 0 12%;
  }
}
@media all and (min-width: 1600px) {
  /* line 283, ../../sass/layouts/responsive-sidebars.scss */
  html {
    font-size: 115%;
  }

  /* line 283, ../../sass/layouts/responsive-sidebars.scss */
  #page, #header, #pre-header, #footer {
    margin: 0 16%;
  }
}
