/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12;
$zen-gutter-width:  40px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */

#pre-header,
#header,
#page,
#footer,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1368px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#pre-header,
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,

/*
.region-navigation,
nav.breadcrumb,
#main-menu,
  #page-title,
  article header,
  article.node-recipe,
  div.field-body,
  div.field-recipe-primary-image,
  div.field-recipe-additional-images,
  section.comment-wrapper,
  article ul.links,*/
{
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#pre-header,
#header,
#main,
#footer,
article.node-recipe {
  @include zen-grid-container();
}

/*
 * Containers for grid items and flow items.
 */

div.group-share,
div.group-category,
div.group-tags
{
  @include zen-clear(both);
}

/*
 * Navigation bar
 */

@media all and (min-width: 480px) {
  #main {
    position: relative;
  }
  #navigation {
    ul.links, ul.menu { font-size: 1.5em; }
  }

  div.field-name-field-image {
    float: left;
    padding-right: 2em;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  $zen-column-count: 1;

  .sidebar-first { //The layout when there is only one sidebar, the left one.
    #content {
      //@include zen-grid-item(1, 1);
    }
    .region-sidebar-first {
      //@include zen-grid-item(1, 1);
    }
  }

  .sidebar-second { // The layout when there is only one sidebar, the right one.
    #content {
      //@include zen-grid-item(1, 1);
    }
    .region-sidebar-second {
      //@include zen-grid-item(1, 1);
    }
  }
   
  .two-sidebars { // The layout when there are two sidebars.
    #content {
      @include zen-grid-item(2, 2);
    }
    .region-sidebar-first { 
      @include zen-grid-item(1, 1);
    }
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();
      .block {
        @include zen-grid-item-base();
      }
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }

}

@media all and (min-width: 560px) {
  #footer {
    #block-boxes-box-copyright { float: left; } 
    .privacy-tos { float: right; } 
  }
}

@media all and (min-width: 768px) {
  $zen-column-count: 12;

  #logo img { width: 15em; }
  #name-and-slogan {
    text-align: left;
  }
  
  // Styling for image div containers
  div.left { float: left; padding-right: 1em; box-sizing: border-box;}
  div.right { float: right; padding-left: 1em; box-sizing: border-box;}
  div.center { margin: auto; text-align: center; }
  div.width-25 { width: 25%; }
  div.width-33 { width: 33%; }
  div.width-40 { width: 40%; }
  div.width-50 { width: 50%; }
  div.width-60 { width: 60%; }
  div.width-66 { width: 66%; }
  div.width-75 { width: 75%; }
  div.width-100 { width: 100%; }

  .sidebar-first {
    #header { @include zen-grid-item(6,1); }

    #navigation { 
      // @include zen-grid-item(18, 1, right);
      @include zen-nested-container();

      // #main-menu, .region-navigation { line-height: 3em; }

      #main-menu {
        @include zen-grid-item(6, 12, left); 
      }
      .region-navigation {
        @include zen-grid-item(6, 1, right); 
      }
    }

    #content { 
      @include zen-grid-item(8, 1, left);
        article.node-article {
          @include zen-nested-container();

          //div.field-body { @include zen-grid-item(12, 1, right); width: 47.5%; }
          //div.field-image { @include zen-grid-item(12, 1, left); width: 47.5%; }
          //div.field-additional-images { @include zen-grid-item(12, 1, left); @include zen-clear(); width: 47.5%; }
          //div.group-category { @include zen-grid-item(12, 1, right); width: 47.5%; @include zen-clear(right); }
          //div.group-tags { @include zen-grid-item(12, 1, right); width: 47.5%; @include zen-clear(right); }
          //ul.links { @include zen-grid-item(12, 1, right); width: 47.5%; @include zen-clear(right); }
        }
        section.comment-wrapper {
          @include zen-clear(both);
        }
    }

    .region-sidebar-first { 
      @include zen-grid-item(4, 1);
      @include zen-clear(left);
    }

  }

   
  .sidebar-second { //The layout when there is only one sidebar, the right one.
    #navigation,
    #content { 
      @include zen-grid-item(9, 1);
    }

    #content { 
      @include zen-clear(both);
    }

    .region-sidebar-second { 
      @include zen-grid-item(3, 1, right);
    }
  }

  .two-sidebars { //The layout when there are two sidebars.
    #content { 
      @include zen-grid-item(3, 2);
    }
    .region-sidebar-first { 
      @include zen-grid-item(1, 1);
    }
    .region-sidebar-second { 
      @include zen-grid-item(1, 5);
    }
  }

}

@media all and (min-width: 1024px) {
  .block-menu-block ul li span.menu-text { display: inline; }
  .header-admin-menu { float: left; }
  p.social-icons { font-size: 2em; }
}

@media all and (min-width: 1024px) { html { font-size: 100%; } #page, #header, #pre-header, #footer { margin: 0 4%;} }
@media all and (min-width: 1200px) { html { font-size: 105%; } #page, #header, #pre-header, #footer { margin: 0 8%;} }
@media all and (min-width: 1400px) { html { font-size: 110%; } #page, #header, #pre-header, #footer { margin: 0 12%;} }
@media all and (min-width: 1600px) { html { font-size: 115%; } #page, #header, #pre-header, #footer { margin: 0 16%;} }
